body {
    max-width: 400px;
    margin: auto;
    font-family: Halyard Display;
    background-color: black;
}

.logo {
    max-width: 308px;
    background-color: #b9f1e1;
    display: flex;
    padding-top: 48px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 26px;
}

h2 {
    max-width: 320px;
    background-color: #54bfa1;
    margin: auto;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid white ;
    color: white;
    margin-top: -7px;
    font-family: Halyard Display;
}

p {
    max-width: 320px;
    background-color: #54bfa1;
    margin: auto;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
}

.nourriture {
    max-width: 400px;
}

.photo {
    display: flex;
    padding-bottom: 30px;
}

.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.button {
    margin-left: 50px; 
    width: 120px; 
    margin-bottom: 30px;
}

.button-google {
    width: 130px;
    margin-bottom: 32px;
}